<!doctype html>
<html>
<head>
	<link rel="stylesheet" href= "{{ url_for('static',filename='styles.css') }}">
	<title>HackUVA Scheduler</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>
<body style="background-color: #DEF5FB">
	{ % if test % }
	<h1 style="text-align: center;">UVA Hackathon Scheduler</h1>
	<h4 style="text-align: center;">Austin Bae, Omar El Sheik, Collin Hansen</h4>
	{ % endif % }
	<br>
	<div id="wrapper" class="active">
      
      <!-- Sidebar -->
            <!-- Sidebar -->
      <div id="sidebar-wrapper">
      <ul id="sidebar">
      	<li style="padding: 0px;"><iframe src="http://free.timeanddate.com/clock/i54kngdj/n3601/szw110/szh110/hoc222/hbw6/cf100/hgr0/hcw2/hcd88/fan2/fas20/fdi70/mqc000/mqs3/mql13/mqw4/mqd94/mhc000/mhs3/mhl13/mhw4/mhd94/mmc000/mml5/mmw1/mmd94/hwm2/hhs2/hhb18/hms2/hml80/hmb18/hmr7/hscf09/hss1/hsl90/hsr5" frameborder="0" width="150" height="150"></iframe>
		</li>
      </ul>
      <ul id="sidebar_menu" class="sidebar-nav">
           <li class="sidebar-brand"><a id="menu-toggle" href="#">Menu<span id="main_icon" class="glyphicon glyphicon-align-justify"></span></a></li>
      </ul>
        <ul class="sidebar-nav" id="sidebar">     
          <li><a>Link1<span class="sub_icon glyphicon glyphicon-link"></span></a></li>
          <li><a>link2<span class="sub_icon glyphicon glyphicon-link"></span></a></li>
        </ul>
      </div>
          
      <!-- Page content -->
      <div id="page-content-wrapper">
        <!-- Keep all page content within the page-content inset div! -->
        <div class="page-content inset">
          <div class="row">
              <div class="col-md-10">
					<div class="row">
						{ % for db in dbs % }
						<table class="table table-bordered" style="col-md-3">
							<tr style="background-color: #BAFFC9">
								<th style="text-align: center; padding: 0px;">
									<table style="width: 60%; left: 20%; position: relative;">
										<tr>
											<td rowspan=2 style="font-size: 50px; padding-right: 5px;"></td>
											<td style="padding-left: 5px;">March</td>
										</tr>
										<tr><td>MONDAY</td></tr>
									</table>
								</th>
							</tr>
							<tr>
								<td>8am</td>
							</tr>
							<tr>
								<td>9am</td>
							</tr>
						</table>
						{ % endfor % }
					</div>
				</div>
            </div>
          </div>
        </div>
      </div>
      
    </div>
	
	
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	<script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='main.js') }}"></script>
</body>
</html>